p {
    text-align: center;
    font-weight: bold;
}

.card-body {
    display: grid;
    grid-template-columns: 1fr .25fr 1fr;
    grid-template-areas:
    "left center right"
   
}

.card-header {
    text-align: center;
}

.betterheader {
    color: rgb(0, 0, 0);
}