p,
li {
  text-align: center;
  font-weight: bold;
}

.card-body {
  display: flex;
  justify-content: space-around;
}

.card-header {
  text-align: center;
}

.better-header {
  color: rgb(0, 0, 0);
}
